.cf {
      margin: 0;
      min-width: 100%;
      min-height: 100%;
      padding: 0;
}

.vheight {
      min-height: 75vh;
      max-height: 75vh;
      height: 75vh;
      padding: 0;
}

.vheight2{
      min-height: 10vh;
      max-height: 10vh;
      height: 10vh;
      padding: 0;
}

.vheight3{
      min-height: 15vh;
      max-height: 15vh;
      height: 15vh;
      padding: 0;
}

#dragdrop.vheight {
      min-height: 73vh;
      max-height: 73vh;
      height: 73vh;
      padding: 0;
}

.rowDNI{
      direction: ltr;
      padding-left: 0 !important;
}

.colDNI{
      margin-block: auto; 
      margin: auto;
      padding-left: 0
}

#custom-switch{
      margin-top: auto;
      width: 3vw;
      height: 2vh
}